*{

    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;

}


body {

    font-size: 16px;
    background-color: white;
    color: black;

}

.hidden {
    display: none;
}

.icon-container {
    text-align: center;
}
.wrapper {
    width: 20%;
    display: inline-block;

    padding: 2em;
}

.wrapper img {

    width: 100%;

}








/* SVG ANIMATIONS START HERE */

    
    
 #discreflection {
    animation: disk 0.8s infinite linear;
    transform-origin: 50% 50%;
     display: inline-block;
           
  }
    
     @keyframes disk {
            0% { transform: rotate(0deg);}
            100% { transform: rotate(360deg); }
     }


    
     #classicmusicmixertext {
        animation: disktext 0.8s infinite linear;
        transform-origin: 50% 50%;
         display: inline-block;
         fill: white;
               
      }
        
         @keyframes disktext {
                0% { transform: rotate(0deg);}
                100% { transform: rotate(360deg); }
         }








 #tapemiddle{
     animation: tpmid 1.5s infinite linear;
     transform-origin: 50% 50%;
     display: inline-block;
           
        }
    
     @keyframes tpmid {
        0% { transform: rotate(0deg);}
        0% { transform: rotate(360deg); }
     }








/* SVG RADIO ANIMATIONS START HERE */
          
 .radioglow1 {         
    animation-name: radioglow;
   animation-duration: 0.8s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
         
    @keyframes radioglow {
        0% {
             filter: drop-shadow(0px 0px 1px #fff)
             drop-shadow(0px 0px 3px #fff)
             drop-shadow(0px 0px 10px #adf9fc)
             drop-shadow(0px 0px 15px #097bfd)
             drop-shadow(0px 0px 30px #00ffff);
           }
         

         }
          




/* SVG VOLUME ANIMATIONS START HERE */

.volume1{
            animation: tvol 30s infinite linear;
            transform-origin: 50% 50%;
            display: inline-block;
                  
        }
           
        @keyframes tvol {
         0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg); }
}