*{

    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;

}


body {

    font-size: 16px;
    background-image: linear-gradient(to right, rgb(185, 185, 185) , rgb(206, 206, 206) , rgb(185, 185, 185));
    color: black;

}

.hidden {
    display: none;
}

.icon-container {
    text-align: center;
}
.wrapper {
    width: 20%;
    display: inline-block;

    padding: 2em;
}

.wrapper img {

    width: 100%;

}



/*header starts here */

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #4d4d4d;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: rgb(243, 243, 243);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    
    line-height: 40px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

/*end of header and nav bar*/


h5 {
    font-size: 35px;
}

a {
    font-size: 35px;
}



/* SVG ANIMATIONS START HERE */

/* SVG VYNIL DISK ANIMATIONS START HERE */
    
 #discreflection {
    animation: disk 0.8s infinite linear;
    transform-origin: 50% 50%;
     display: inline-block;
           
  }
    
     @keyframes disk {
            0% { transform: rotate(0deg);}
            100% { transform: rotate(360deg); }
     }


    
     #classicmusicmixertext {
        animation: disktext 0.8s infinite linear;
        transform-origin: 50% 50%;
         display: inline-block;
         fill: white;
               
      }
        
         @keyframes disktext {
                0% { transform: rotate(0deg);}
                100% { transform: rotate(360deg); }
         }



         #yellowglo {         
            animation-name: diskglow;
           animation-duration: 0.8s;
           animation-iteration-count: infinite;
           animation-direction: alternate;
       }
                 
            @keyframes diskglow {
                0% {
                     filter: drop-shadow(0px 0px 1px #fff)
                     drop-shadow(0px 0px 3px #fff)
                     drop-shadow(0px 0px 10px #ffb380)
                     drop-shadow(0px 0px 30px #d0ff4d)
                     drop-shadow(0px 0px 50px #fffb00);
                   }
                 
       
                 }







/* SVG RETRO TAPE  STEAM  ANIMATIONS START HERE */


 #tapemiddle{
     animation: tpmid 1.5s infinite linear;
     transform-origin: 50% 50%;
     display: inline-block;
           
        }
    
     @keyframes tpmid {
        0% { transform: rotate(0deg);}
        0% { transform: rotate(360deg); }
     }








/* SVG RADIO ANIMATIONS START HERE */
          
 .radioglow1 {         
    animation-name: radioglow;
   animation-duration: 0.8s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
         
    @keyframes radioglow {
        0% {
             filter: drop-shadow(0px 0px 1px #fff)
             drop-shadow(0px 0px 3px #fff)
             drop-shadow(0px 0px 10px #adf9fc)
             drop-shadow(0px 0px 15px #097bfd)
             drop-shadow(0px 0px 30px #00ffff);
           }
         

         }
          



/* SVG VOLUME ANIMATIONS START HERE */


.volume1{
            animation: tvol 30s infinite linear;
            transform-origin: 50% 50%;
            display: inline-block;
                  
        }
           
        @keyframes tvol {
         0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg); }
}



/* SVG PLAY ANIMATIONS START HERE */

.playbtn4, .playbtn3{         
    animation-name: diskglow;
   animation-duration: 0.8s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
         
    @keyframes diskglow {
        0% {
                filter: drop-shadow(0px 0px 1px #fff)
                drop-shadow(0px 0px 3px rgb(255, 255, 255))
                drop-shadow(0px 0px 10px #80ffc0)
                drop-shadow(0px 0px 30px #016e13)
                drop-shadow(0px 0px 50px #00ff22);
           }
         

         }

         
#trackprevious:hover {
    fill: #72ba81;
    }


#playmiddle1:hover {
        fill: #afafaf;
        }

    
    